# Neon Database URL
DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require
NEXT_PUBLIC_DATABASE_URL=postgresql://user:password@host/neondb?sslmode=require

# Meta Pixel & Meta Conversions API (CAPI)
META_PIXEL_ID=979841341182458
NEXT_PUBLIC_META_PIXEL_ID=979841341182458
META_CAPI_ACCESS_TOKEN=EAAT9k03bEqsBSgjVoa82Fet3Yiurus5KtnXVbjnPh6eVD42uNpHjz4uJsZAgZCRYrg4jcPZBZCIXZBPbNrCdrMzKryYhF0c07LSM2qmkIBvJ2OpsgIigbbcBVLFByCi6d8ZALAg87QREmel4XtaTh75xWR60eKdNYeYjvkTdCZAp4jZCk0dGoJiFVJAxneHXYAZDZD
META_LEAD_VALUE=450000
